# setting this as a workaround described in Step by step Development Environment Setup:
#  https://docs.google.com/document/d/1oQU-PPown2TV02Xg9htxByzOhUopGH-areUrlZ94Te0/edit?pli=1
#
# Browse to cgmembers and sign in with username admin -- any non-empty password will do. 
# If you get “ORDER BY clause is not in SELECT list” crash error, set sql-mode in my.ini 
# file to “” (empty string) (my.ini can be opened from Wamp console under MySql) 
sql-mode=""

