*~
vendor/
OLD/
unminified/
test/
cgLogs/
cgPhotoTemp/
gherkin/
db/migrations/migrate.log
log/capistrano.log
log/capistrano.log.0
GoogChart.class.php
GnuMICR.ttf
config/config.json
config/phinx.json
*.test
*.crt
dosay-status.txt
dosay-error.txt
