/* CSS for Find Company (and Buy Credit), and Local Business Lists on promo site */
.cmpy-list {display:table;}
.cmpy-list .row {display:table-row;}
.cmpy-list .well {padding:10px 35px;}

.cmpy-list .cmpy-buttons {text-align:right; vertical-align:middle;}
#frm-findco .cmpy-list .btn-xs {font-size:9.5px; padding:1px 2px; max-width:44px;}

.cmpy-list .cmpy-img, .cmpy-list .cmpy-buttons, .cmpy-list .cmpy-name-does,
.cmpy-list .cmpy-contact {display:table-cell; padding:10px 0; border-bottom:1px solid silver;}

.cmpy-list .cmpy-img {display:table-cell; overflow:hidden; vertical-align:middle; margin:5px 5px 5px 20px; text-align:center;}
.cmpy-list .cmpy-img img {overflow:hidden; width:64px; height:48px; max-width:64px; max-height:48px; object-fit:cover;}  /* max-width and max-height are for mobile and promo site */
.cmpy-list .cmpy-name-does {width:300px; overflow:hidden; display:table-cell; vertical-align:middle; padding-left:10px;}
.cmpy-list .cmpy-name {color:darkblue; padding-left:10px;}
.cmpy-list .cmpy-does {padding-left:10px;}
.cmpy-list .cmpy-contact {width:150px; overflow:hidden; padding-left:5px; vertical-align:middle; display:table-cell;}
.cmpy-list .cmpy-ind-wrapper {margin-top:10px;}
.cmpy-list .cmpy-ind {font-weight:bold; color:#004d00; font-size:150%; margin:30px 0 5px 0;}
