<h2>Credit Card Payment Failed</h2>

<p>Dear %fullName,</p>

<p>Thank you very much for supporting %coName.</p>

<p>Unfortunately your %date %howOften contribution of %amount failed, because "%erMsg". %recurCanceled</p>

<p>Please retry your donation <a href="%giftLink">here</a> with updated credit card information.</p>

<p>With much gratitude,<br>
All of us at %coName and %PROJECT (%coName's fiscal sponsor*)</p>
<br>
%coName, %coPostalAddr, %coPhone<br>
%PROJECT, %CGF_POSTALADDR, %CGF_PHONE<br>
<hr>
<small>
<p><sup>*</sup> For more information about how %PROJECT promotes economic democracy, supports small businesses and nonprofits, and how it could help YOU AND YOUR COMMUNITY fund your shared dreams, visit <a href="https://%CG_DOMAIN">%CG_DOMAIN</a> or see this short <a href="http://cg4.us/video">video</a>. Or just <a href="%BASE_URL/signup">click here</a> to open your free %PROJECT account.</p>
</small>
