<h2>Thank you!</h2>

<p>Dear %fullName,</p>

<p>Thank you very much for supporting %PROJECT with your %date contribution of %amount.</p>

<p>Your gift is 100% tax-deductible since no goods or services were provided in exchange. Society to Benefit Everyone, Inc., dba %PROJECT<sup>®</sup> (EIN #20-5280780) is a 501(c)(3) nonprofit organization offering financial and social technologies for a Solidarity Economy<sup>*</sup>.</p>

<p><i>Print this note for your tax records.</i></p>

<p>With much gratitude,<br>
All of us at %PROJECT</p>
<br>
%CGF_POSTALADDR, %CGF_PHONE<br>
<hr>
<small>
<p><sup>*</sup> For more information about how %PROJECT promotes economic democracy, supports small businesses and nonprofits, and how it could help YOU AND YOUR COMMUNITY fund your shared dreams, visit <a href="https://%CG_DOMAIN">%CG_DOMAIN</a> or see this short <a href="http://cg4.us/video">video</a>. Or just <a href="%BASE_URL/signup">click here</a> to open your free %PROJECT account.</p>
</small>
