<html>
<body>
<h3>%PROJECT OFFERS & NEEDS</h3>

<p>Hello %fullName,</p>

<p>You (or someone) posted %what ("%item") on the Offers & Needs page on %date, using this email address. Please click the button below to confirm your identity.</p>

<p>If you did NOT post something, please let us know (reply to this email).</p>

<center><a href="%BASE_URL/community/posts/op=confirm&thing=post&code=%code" style="display:inline-block; background-color:#28A1E6; border-radius:5px; border:1px solid #0044f1; color:white; font-family:Arial; font-size:17px; padding:8px 15px; text-decoration-line:none;" target="_blank">Confirm</a></center>

<p>Save this email and use this link when you want to stop showing your post: <a href="%BASE_URL/community/posts/op=cancel&thing=post&code=%code">CANCEL POST</a>.

<p>Sincerely,</p>

<p><i>The %PROJECT Team</i></p>

<hr>

<b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL">%CGF_EMAIL</a><br>

</body>
</html>
