<h2>Thank you!</h2>

<p>Dear %fullName,</p>

<p>Thank you very much for supporting %coFullName with your %date contribution of %gift.</p>

<p>Your gift is 100% tax-deductible since no goods or services were provided in exchange. %coFullName's fiscal sponsor, Society to Benefit Everyone, Inc., dba %PROJECT<sup>®</sup> (EIN #20-5280780) is a 501(c)(3) nonprofit organization offering financial and social technologies for a Solidarity Economy<sup>*</sup>.</p>

<p><i>Print this note for your tax records.</i></p>

<p>With much gratitude,<br>
All of us at %coFullName and %PROJECT</p>
<br>
%coFullName, %coPostalAddr, %coPhone<br>
%PROJECT, %CGF_POSTALADDR, %CGF_PHONE<br>
<hr>
<small>
<p><sup>*</sup> For more information about how %PROJECT promotes economic democracy and how it might help your community fund your common dreams, visit <a href="https://%CG_DOMAIN">%CG_DOMAIN</a> or see this short <a href="http://cg4.us/video">video</a>. If you decide to open a free account, <a href="%BASE_URL/reset/qid=%qid&code=%code">click here to save time</a> (starting with the information you provided in connection with your contribution).</p>
</small>
