<!DOCTYPE html>
<html>
<body style="font-family:Verdana, Arial, Helvetica; line-height:150%; background-color:silver; text-align:center;">
<div style="margin:auto; max-width:900px; border:1px solid black; padding:20px; background-color:white; text-align:left;">
<p>%fullName invites you to sign up for a free %PROJECT card:</p>
<blockquote>
  "%quote"<br>
  <div style="font-size:85%; margin-top:10px;"><b style="color:darkblue;">&mdash; %fullName</b> &nbsp; %phone<br>
%PROJECT Member since %signed</div>
</blockquote>
<hr>

<p style="text-align:center;"><br>
<a href="%BASE_URL/signup/code=%code" style="font:bold 16px Arial;  text-decoration:none;  background-color:green;  color:white;  padding:8px 12px;  margin-bottom:5px;    -webkit-border-radius:8px;    -moz-border-radius:8px;    border-radius:8px;    border:solid 1px #20538D;    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);">Accept Invitation</a><br>&nbsp;
</p>

<div style="padding:15px; background-color:lightyellow; border:1px solid darkgreen;">
  <table><tr>
    <td style="margin-right:10px; vertical-align:center;"><img src="%R_PATH/images/%PROJECT_LOGO" hspace="5" height="96" alt="" /></td>
    <td style="vertical-align:center;"><h2 style="font-size:36px;"><span style="color:darkblue;font-stretch:expanded;">%PROJECT<sup>&reg;</sup></span><small style="font-weight:normal; font-size:50%; color:darkgray;"><br><i>Tools for a new economy&trade;</i></small></h2></td>
  </tr></table>
  <ul>
    <li>Generate funds for community projects every time you use it.</li>
    <li>You and other members decide together what to fund. </li>
    <li>Easy to use. Easy to accept as payment.</li>
    <li>No fees for you. No fees for businesses.</li>
  </ul>
   <a href="%VIDEO_URL" style="font-size:75%; font-weight:bold; text-decoration:none; margin-left:200px;">[See the Video]</a></p>
</div>

<p style="text-align:center;"><b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE<br>
<a href="mailto:%CGF_EMAIL" style="text-decoration:none;">%CGF_EMAIL</a><br>
<br>
<small>You are receiving this email because a friend invited you. To "unsubscribe", <a href="%BASE_URL/unsubscribe/code=%emailCoded">click here</a>.</small>
</p>
</div>
</body></html>
