%partnerName customer %name has begun to open a Common Good account. Their relevant information, including contact information, electric service information, and %PROJECT Account ID, have already been sent to %partnerName's Customer Relationship database.

Both pages of the customer's most recent electric bill are attached.

<p>If you have questions about this notice, call %PROJECT at 413-628-1723.</p>
<table>
<tr><th>%partnerName Customer: </th><td>%name (Electric account #%customer)</td></tr>
<tr><th>Customer's Email Address: </th><td>%email</td></tr>
<tr><th>Common Good Account ID: </th><td>%accountId</td></tr>
</table>
