<h3>New Community Solar Customer</h3>

<p>%partnerName customer %fullName has begun to apply for a Community Solar subscription. This proposed contract has been emailed to them as an attachment, with a button to click to "sign" the contract and continue the signup process.</p>

<p>The customer's relevant information, including contact information, electric service information, and %PROJECT Account ID, have already been sent to %partnerName's Customer Relationship database(s). An asterisk after the %PROJECT account ID indicates a tentative account that should be deleted if the customer chooses not to have a %PROJECT account.</p>

<p>Both pages of the customer's most recent electric bill are attached.</p>

<p>If you have questions about this notice, call %PROJECT at 413-628-1723.</p>
<table>
<tr><th align="left">%partnerName Customer: </th><td>%fullName (Electric account #%customer)</td></tr>
<tr><th align="left">Customer's Email Address: </th><td>%email</td></tr>
<tr><th align="left">Common Good Account ID: </th><td>%cgAccount</td></tr>
</table>
