<h2>Congratulations!</h2>

<p>You have completed your Community Solar subscription. We have attached a copy of the signed contract.</p>

<p>We will send you an email when your array is ready to start delivering credits to your electric account (and when we will start billing you for those credits). Let us know if you have any questions!</p>

<p>Sincerely,<br>
%partnerName</p>

<hr>
<small>
<b>%partnerName (in partnership with %PROJECT)</b><br>
%partnerAddress<br>
%partnerPhone<br>
%partnerEmail<br>
<br>
You are receiving this email because you signed up for Community Shared Solar.
</p>
</small>
</center>