<h2>Congratulations!</h2>

<p>You have completed the signup process for your community solar subscription. %contractAttached</p>

<p>We will be in touch with updates about the solar construction and when you should begin to see credits on your electric bill  (and when we will start billing you for those credits).
Feel free to contact us (at %partnerEmail) if you have any questions.</p>

<p><b>Learn more</b> about the organizations working together on this community solar program:</p>
%links

<p>Best,<br>
The %partnerName Team</p>

<hr>
<small>
<b>%partnerName</b><br>
%partnerAddress<br>
%partnerPhone<br>
%partnerEmail<br>
<br>
You are receiving this email because you signed up for Community Shared Solar.
</p>
</small>
