<html>
<body>
<h3>%PROJECT OFFERS & NEEDS</h3>

<p>Here is a message from %fromName in %fromLocation about your %type ("%item") posted %date on the Offers & Needs board. You can answer the message simply by replying to this email. (Click <a href="%BASE_URL/community/posts/op=confirm&thing=post&code=%code">here</a> to view, edit, or cancel your post.)</p>

<p><b>Message:</b></p>

<blockquote>%message</blockquote>

<hr>

<b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE (messages)<br>
<a href="mailto:%CGF_EMAIL">%CGF_EMAIL</a><br>

</body>
</html>
