<html>
<body>
<h3>Your %PROJECT OFFERS & NEEDS post</h3>

<p>Dear %fullName,</p>

<p>Your post about "%item" expires in %grace days, on %dt.

<p>If you wish to extend it, click <a href="%BASE_URL/community/posts/op=confirm&thing=post&code=%code">here</a> to add a specific end date.</p>

<p>Thank you for using the %PROJECT system!</p>

<hr>

<b style="color:darkblue;">%PROJECT</b><br>
%CGF_POSTALADDR USA<br>
%CGF_PHONE (messages)<br>
<a href="mailto:%CGF_EMAIL">%CGF_EMAIL</a><br>

</body>
</html>
