<h2>Your Payment Is Complete</h2>

<p>%fullName,</p>

<p>You paid %coName %amount for %item.</p>

<p>Thank you for paying through %PROJECT!<sup>*</sup></p>

<p>With best wishes,<br>
All of us at %coName and %PROJECT</p>
<br>
%coName, %coPostalAddr, %coPhone<br>
%PROJECT, %CGF_POSTALADDR, %CGF_PHONE<br>
<hr>
<small>
<p>%toCancel</p>
<p><sup>*</sup> Society to Benefit Everyone, Inc., dba %PROJECT<sup>®</sup> is a 501(c)(3) nonprofit organization offering financial and social technologies for a Solidarity Economy<sup>*</sup>. For more information about how %PROJECT promotes economic democracy, supports small businesses and nonprofits, and how it could help YOU AND YOUR COMMUNITY fund your shared dreams, visit <a href="https://%CG_DOMAIN">%CG_DOMAIN</a> or see this short <a href="http://cg4.us/video">video</a>. Or <a href="%BASE_URL/signup">click here now</a> to get your free %PROJECT card.</p>
</small>
