<p>Your backing commitment of %amount expires %when.</p>

<p>If you want to continue backing %PROJECT in this amount, no action is needed &mdash; your backing will be extended automatically for one year.</p>

<p>If you want to CHANGE your backing amount, <%atag>click here</a> or sign in at %CG_DOMAIN and click Settings / Preferences / Advanced.</p>

<p>Backing makes it possible for your community and region to make investments, loans, and grants. Whereas bank investments are backed (in theory) by the FDIC, Common Good investments, loans, and grants are backed by the faith and commitment of members, all of us together.</p>

<img src="%BASE_URL/track/%track">