<div style="font-family:Arial, Verdana, Tahoma, Trebuchet MS">
<h3>Community Solar FINAL STEP</h3>

<p>Dear %fullName,</p>

<p>Here is a contract for your solar electric subscription (attached). Please look it over click the button below within 3 days, to sign the contract, which completes your solar subscription sign-up.  We will let you know when your array is ready to start delivering credits to your electric account and when we will start billing you for those credits. Let us know if you have any questions!</p>

<p>Sincerely,<br>
%partnerName</p>

%extraMsg

<br>
"I agree to the terms of the attached contract."<br><br>
<a href="%BASE_URL/settings/partnerend/code=%code" style="background-color:darkgreen;border-radius:10px;border:1px solid rgb(24,171,41);display:in=
line-block;color:rgb(255,255,255);font-family:Arial;font-size:17px;padding:8px 15px;text-decoration-line:none">Agree and Sign</a><br><br>
<b  style="font-size:150%; color:blue; font-family:Segoe Script, Brush Script MT, Bradley Hand ITC, Harlow Solid Italic, Tahoma, Trebuchet MS;">%fullName</b><br>
&nbsp;

<hr>
<small>
<b>%partnerName (in partnership with %PROJECT)</b><br>
%partnerAddress<br>
%partnerPhone<br>
%partnerEmail<br>
<br>
You are receiving this email because you signed up for Community Shared Solar.
</p>
</small>
